* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    /* imported google fonts font */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

body {
    background-color: rgba(19,17,33,255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    color: rgba(19,17,33,255);
    background-color: white;
    width: max(15rem, 45vw);
    border-radius: 10px;
    padding: min(3rem, 5%);
}

.title {
    font-size: clamp(1.7rem, calc(4vw + 0.2rem), 3.5rem);
    margin: 0 0 1.5rem;
    text-align: center;
}

.container *:not(.title, .file-symbol, .download-symbol) {
    font-size: clamp(1.2rem, calc(2.4vw + 0.1rem), 1.7rem);
}

.download-text {
    margin: 0 0 0.5rem;
}

.download-btn {
    cursor: pointer;
    display: block;
    margin: 1.5rem auto 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 7px;
}

.file-input {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
}

/* opacity reduced for the button while the user input is invalid */
.file-input:invalid ~ .download-btn {
    opacity: 0.5;
    cursor: auto;
}